<div class="col span_1_of_<%= cols %> image_title_wrapper">
  <a href="<%= link %>">
    <div style='background-image: url("<%= url %>");' class="img_background img_background_override">
      <div class="centered">
        <h3><%= title %></h3>
      </div>
    </div>
  </a>
</div>
