$font-family-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Times New Roman, serif;

$grey: #999;
$dark_grey: #666;
$light_grey: #ddd;
$orange: #e88320;
$white: #fff;
$black_30: rgba(0,0,0,0.3);
$selected_nav_color: orange;
$banner_height:75px;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
$max_width: 1000px;
$image-max_width: 1000px;
$image-max_height: 667px;




