---
page_classes: 'gallery'
#page_title: 'Classic Kitchen'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">classic kitchen</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/kitchens/classic/thumb_1.jpg" alt></dt>
        <dd><img src="/images/kitchens/classic/1.jpg" alt="Classic Kitchen 1"></dd>
      <dt tabindex="2"><img src="/images/kitchens/classic/thumb_2.jpg" class="port" alt></dt>
        <dd><img src="/images/kitchens/classic/2.jpg" class="port" alt="Classic Kitchen 2"></dd>
      <dt tabindex="3"><img src="/images/kitchens/classic/thumb_3.jpg" alt></dt>
        <dd><img src="/images/kitchens/classic/3.jpg" alt="Classic Kitchen 3"></dd>
      <dt tabindex="4"><img src="/images/kitchens/classic/thumb_4.jpg" alt></dt>
        <dd><img src="/images/kitchens/classic/4.jpg" alt="Classic Kitchen 4"></dd>
    </dl>
  </div>
</div>
