---
page_classes: 'gallery'
#page_title: 'Curvy Classic'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">Curvy Classic</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/kitchens/curvy_classic/thumb_1.jpg" alt></dt>
        <dd><img src="/images/kitchens/curvy_classic/1.jpg" alt="Curvy Classic Kitchen 1"></dd>
      <dt tabindex="2"><img src="/images/kitchens/curvy_classic/thumb_2.jpg" alt></dt>
        <dd><img src="/images/kitchens/curvy_classic/2.jpg" alt="Curvy Classic Kitchen 2"></dd>
      <dt tabindex="3"><img src="/images/kitchens/curvy_classic/thumb_3.jpg" alt></dt>
        <dd><img src="/images/kitchens/curvy_classic/3.jpg" alt="Curvy Classic Kitchen 3"></dd>
      <dt tabindex="4"><img src="/images/kitchens/curvy_classic/thumb_4.jpg" class="port" alt></dt>
        <dd><img src="/images/kitchens/curvy_classic/4.jpg" class="port" alt="Curvy Classic Kitchen 4"></dd>
    </dl>
  </div>
</div>
