---
page_classes: 'gallery'
#page_title: 'Open & Airy'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">open & airy</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/kitchens/open_airy/thumb_1.jpg" alt></dt>
        <dd><img src="/images/kitchens/open_airy/1.jpg" alt="Open & Airy 1"></dd>
      <dt tabindex="2"><img src="/images/kitchens/open_airy/thumb_2.jpg" alt></dt>
        <dd><img src="/images/kitchens/open_airy/2.jpg" alt="Open & Airy 2"></dd>
      <dt tabindex="3"><img src="/images/kitchens/open_airy/thumb_3.jpg" alt></dt>
        <dd><img src="/images/kitchens/open_airy/3.jpg" alt="Open & Airy 3"></dd>
      <dt tabindex="4"><img src="/images/kitchens/open_airy/thumb_4.jpg" alt></dt>
        <dd><img src="/images/kitchens/open_airy/4.jpg" alt="Open & Airy 4"></dd>
    </dl>
  </div>
</div>
