---
page_classes: 'gallery'
#page_title: 'Black & White'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">black & white beauty</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/bathrooms/black_white/thumb_1.jpg" alt></dt>
        <dd class="hero"><img src="/images/bathrooms/black_white/1.jpg" alt="Black and White Bathroom 1" focus></dd>
      <dt tabindex="2"><img src="/images/bathrooms/black_white/thumb_2.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/black_white/2.jpg" alt="Black and White Bathroom 2" class="port"></dd>
      <dt tabindex="3"><img src="/images/bathrooms/black_white/thumb_3.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/black_white/3.jpg" alt="Black and White Bathroom 3" class="port"></dd>
      <dt tabindex="4"><img src="/images/bathrooms/black_white/thumb_4.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/black_white/4.jpg" alt="Black and White Bathroom 4" class="port"></dd>
    </dl>
  </div>
</div>
