---
page_classes: 'gallery'
#page_title: 'Centre Stage'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">Centre Stage</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/bathrooms/centre_stage/thumb_1.jpg" alt></dt>
        <dd class="hero"><img src="/images/bathrooms/centre_stage/1.jpg" alt="Centre Stage Bathroom 1" focus></dd>
      <dt tabindex="2"><img src="/images/bathrooms/centre_stage/thumb_2.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/centre_stage/2.jpg" alt="Centre Stage Bathroom 2" class="port"></dd>
      <dt tabindex="3"><img src="/images/bathrooms/centre_stage/thumb_3.jpg" alt></dt>
        <dd><img src="/images/bathrooms/centre_stage/3.jpg" alt="Centre Stage Bathroom 3"></dd>
      <dt tabindex="4"><img src="/images/bathrooms/centre_stage/thumb_4.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/centre_stage/4.jpg" alt="Centre Stage Bathroom 4" class="port"></dd>
    </dl>
  </div>
</div>
