---
page_classes: 'gallery'
#page_title: 'Renaissance Bathroom'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">renaissance bathroom</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/bathrooms/renaissance/thumb_1.jpg" alt></dt>
        <dd class="hero"><img src="/images/bathrooms/renaissance/1.jpg" alt="Renaissance Bathroom 1" focus></dd>
      <dt tabindex="2"><img src="/images/bathrooms/renaissance/thumb_2.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/renaissance/2.jpg" alt="Renaissance Bathroom 2" class="port"></dd>
      <dt tabindex="3"><img src="/images/bathrooms/renaissance/thumb_3.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/renaissance/3.jpg" alt="Renaissance Bathroom 3" class="port"></dd>
      <dt tabindex="4"><img src="/images/bathrooms/renaissance/thumb_4.jpg" class="port" alt></dt>
        <dd><img src="/images/bathrooms/renaissance/4.jpg" alt="Renaissance Bathroom 4" class="port"></dd>
    </dl>
  </div>
</div>
