---
page_classes: 'gallery'
#page_title: 'Eighties Refresh'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">eighties refresh</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/interiors/eighties_refresh/thumb_1.jpg" alt></dt>
        <dd><img src="/images/interiors/eighties_refresh/1.jpg" alt="Eighties Refresh 1"></dd>
      <dt tabindex="2"><img src="/images/interiors/eighties_refresh/thumb_2.jpg" alt></dt>
        <dd><img src="/images/interiors/eighties_refresh/2.jpg" alt="Eighties Refresh 2"></dd>
      <dt tabindex="3"><img src="/images/interiors/eighties_refresh/thumb_3.jpg" class="port" alt></dt>
        <dd><img src="/images/interiors/eighties_refresh/3.jpg" class="port" alt="Eighties Refresh 3"></dd>
      <dt tabindex="4"><img src="/images/interiors/eighties_refresh/thumb_4.jpg" class="port" alt></dt>
        <dd><img src="/images/interiors/eighties_refresh/4.jpg" class="port" alt="Eighties Refresh 4"></dd>
    </dl>
  </div>
</div>
