---
page_classes: 'gallery'
#page_title: 'Kiwi Retro'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">kiwi retro</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/interiors/kiwi_retro/thumb_1.jpg" alt></dt>
        <dd><img src="/images/interiors/kiwi_retro/1.jpg" alt="Interior 1" focus></dd>
      <dt tabindex="2"><img src="/images/interiors/kiwi_retro/thumb_2.jpg" alt></dt>
        <dd><img src="/images/interiors/kiwi_retro/2.jpg" alt="Interior 2"></dd>
      <dt tabindex="3"><img src="/images/interiors/kiwi_retro/thumb_3.jpg" alt></dt>
        <dd><img src="/images/interiors/kiwi_retro/3.jpg" alt="Interior 3"></dd>
      <dt tabindex="4"><img src="/images/interiors/kiwi_retro/thumb_4.jpg" class="port" alt></dt>
        <dd><img src="/images/interiors/kiwi_retro/4.jpg" alt="Interior 4" class="port"></dd>
    </dl>
  </div>
</div>
