---
page_classes: 'gallery'
#page_title: 'Traditional'
#page_description: ''
section_class: ''
---

<div class="background">
  <h1 class="page-title">traditional</h1>
  <div>
    <dl id="simple-gallery">
      <dt tabindex="1"><img src="/images/interiors/traditional/thumb_1.jpg" alt></dt>
        <dd><img src="/images/interiors/traditional/1.jpg" alt="Traditional 1"></dd>
      <dt tabindex="2"><img src="/images/interiors/traditional/thumb_2.jpg" alt></dt>
        <dd><img src="/images/interiors/traditional/2.jpg" alt="Traditional 2"></dd>
      <dt tabindex="3"><img src="/images/interiors/traditional/thumb_3.jpg" alt></dt>
        <dd><img src="/images/interiors/traditional/3.jpg" alt="Traditional 3"></dd>
      <dt tabindex="4"><img src="/images/interiors/traditional/thumb_4.jpg" alt></dt>
        <dd><img src="/images/interiors/traditional/4.jpg" alt="Traditional 4"></dd>
    </dl>
  </div>
</div>
