---
page_classes: 'about'
#page_title: 'About'
#page_description: ''
section_class: ''
---
<%= stylesheet_link_tag 'about' %> <div class="background">
  <h1 class="page-title">about debra</h1>   <img class="about_image" src="/images/debs_about.jpg">
</div> <div class="about_text">

  <p>Debra DeLorenzo has managed to turn design philosophy into an art form. A specialist interior designer with multiple awards in kitchen and bathroom design, she is passionate about creating fabulous spaces.</p>

  <p>Debra’s study of architecture, art, and culinary skills mean her designs are hugely artistic and yet grounded in practicality. This combination of form and functionality is at the heart of her design philosophy. <q>Technology for the sake of technology has lead to an explosion of gadgets and devices. Just because you can, doesn’t mean you should. It has to work or is it is not good design.</q></p>
  <blockquote>“It has to work or is it is not good design.”</blockquote>

  <p>Combining all elements of texture, functionality, pattern, colour she has developed her own unique style. Researching and using available technology ensures her designs are at the cutting edge of design possibilities. <q>Anyone can copy a look. Anyone can use a colour that has been used before. I prefer to redefine a space, or object, by using every tool available to make something new yet still familiar.</q></p>

  <p>Debra has designed a range of furniture and interior treatments using new technology to create a modern twist on existing objects.</p>

  <p>This combination of new and old ensures that the final look has a longevity that reflects the final user’s personality. <q>My designs are not sterile. You cannot make a room for an individual without a part of that individual in it.</q></p>
  <blockquote>“You cannot make a room for an individual without a part of that individual in it.”</blockquote>

  <p>Debra’s kitchens and bathrooms are warm and inviting. <q>Our homes are part of our humanity. The spaces we live in should both excite us and comfort us. Rooms should evoke a desire to linger.</q></p>

  <p>As well as designing spaces worldwide Debra is also an internationally recognised artist. Working with textiles her pieces have been exhibited around the world, and are in strong demand. <q>My works are intuitive and come from the heart. Commissioned works are more of a challenge as I weave the client’s life and emotion into them.</q></p>
  <blockquote>“My works are intuitive and come from the heart.”</blockquote>

  <p>Debra’s design opinions are also in great demand. Her audiences are invigorated and inspired by her passionate and colourful presentations.  She is first choice for editorial comment in design magazines and her designs are much sought after for publication.</p>

  <p>Debra created her own business model to suit her lifestyle and passion for design. This sustainable approach grew out of a desire for greater business ethics and a need to foster creativity in the workplace.<q>Businesses do not have to be boring to be successful. Numbers are important, but running a venture solely on dollars and cents often hinders creativity.</q></p>

  <p>Debra’s number one passion is kitchen design. This has grown out of her love of food and cooking. <q>A kitchen designer needs to understand how to cook. You need to understand how food is stored and prepared, and how a kitchen has to work for different family or commercial use.</q> Debra was the owner of a successful cafe and catering business as well as a commercial caterer in London. <q>I learned to cook at a young age but refined my skills in London.</q>
  Her understanding of domestic and commercial cooking environments ensures practical design remains a priority.</p>
</div>
